*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #414141;
    font-family: 'Poppins', sans-serif;
}

.form-label{
    font-size: 16px;
}

.form-control{
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.form-control:focus{
    border: 1px solid #2B64B1;
    box-shadow: 0 0 10px #2B64B11F;
}

#fp-heading h4{
    font-size: 22px;
}

#fp-heading p{
    font-size: 14px;
}

#reset-btn{
    width: 100%;
    background-color: transparent;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    font-size: 17px;
}

#login-div{
    font-size: 14px;
}

#login-link{
    text-decoration: none;
    color: #414141;
}

#signup{
    text-decoration: none;
}

.carousel-caption{
    text-align: left;
}

.carousel-caption h4{
    font-size: 43px;
}

.carousel-caption p{
    font-size: 16px;
}

#privacy-policy{
    font-size: 14px;
}